<nav class="navbar navbar-expand-lg navbar-dark bg-dark navbar-fixed-top" >
  <div  class="container-fluid">
    <a (click)="setCurrentItem(0)" class="navbar-brand" style="margin-left: 25px;" routerLink="cars">Araç Kiralama Sitesi</a>   
    <div  class="collapse navbar-collapse" id="navbarNav">
      <ul class="navbar-nav">
        <li class="nav-item">
          <a (click)="setCurrentItem(0)"  [class]="getCurrentClass(0)" aria-current="page" routerLink="cars"><p class="navbarFontClass">Anasayfa</p></a>
        </li>
        <li class="nav-item">
          <a (click)="setCurrentItem(1)"  [class]="getCurrentClass(1)" aria-current="page" routerLink="operation"><p class="navbarFontClass">İşlem Sayfası</p></a>
        </li>
        <li class="nav-item">
          <a (click)="setCurrentItem(2)"  [class]="getCurrentClass(2)" routerLink="users"><p class="navbarFontClass">Araç Kullanıcılarımız</p> </a>
        </li>
        <li class="nav-item">
          <a (click)="setCurrentItem(3)"  [class]="getCurrentClass(3)" routerLink="rental"><p class="navbarFontClass">Kiralanan Araçlarımız</p> </a>
        </li>
        <li class="nav-item">
          <a (click)="setCurrentItem(4)"  [class]="getCurrentClass(4)" routerLink="customers"><p class="navbarFontClass">Müşterilerimiz</p></a>
        </li>
        <li>
          <div class="dropdown" *ngIf="inLogin()">
            <button  style="margin-left: 30px; width: 80px;" class="btn btn-dark " type="button" id="dropdownMenuButton1" data-bs-toggle="dropdown" aria-expanded="false">
              <i style='font-size:24px; color: cornsilk;' class='fas' >&#xf4fc; </i>
            </button>

            <ul class="dropdown-menu" aria-labelledby="dropdownMenuButton1">
              <li><a class="dropdown-item" >{{kullaniciAdi}}</a></li>
              <li><a class="dropdown-item" (click)="logOut()">Çıkış</a></li>
            </ul>
          </div>
        </li>

        <br><br>
      </ul>
    </div>
  </div>

</nav>

