<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
  <div  class="container-fluid">
    <a class="navbar-brand" >Araç Kiralama Sistemi</a>
    
    <div  class="collapse navbar-collapse" id="navbarNav">
      <ul class="navbar-nav">
        <li class="nav-item">
          <a class="nav-link active" aria-current="page" routerLink="cars">Anasayfa</a>
        </li>
        <li class="nav-item">
          <a class="nav-link active" routerLink="users">Araç Kullanıcılarımız</a>
        </li>
        <li class="nav-item">
          <a class="nav-link active" routerLink="rental">Kiralanan Araçlarımız</a>
        </li>
        <li class="nav-item">
          <a class="nav-link active" routerLink="customers">Müşterilerimiz</a>
        </li>
      </ul>
    </div>
  </div>
</nav>