

<div align="center" style="margin-top: 50px;" class="container">
    <div >
    <div style="float:left; margin-left: 30%;">
        <p style=" font-size: 135%;" > <b>Araba Ekle</b></p>
        <button  type="button" class="btn btn-warning" routerLink="/cars/add"> <i style=" font-size: 70px;" class="fas fa-plus"></i></button>
    </div>
    <div style="float:right; margin-right: 30%;">
        <p style=" font-size: 135%;" ><b>Araba Sil Veya Güncelle</b> </p> 
        <button type="button" class="btn btn-warning" routerLink="/cars/crud"> <i style=" font-size: 70px; margin-left: 5px;" class="fas fa-list"></i></button>
    </div>
</div>
</div>