<div *ngIf="dataLoaded==false" class="spinner-border text-primary" role="status">
    <span class="visually-hidden">Loading...</span>
</div>

<div>
  
  <div  *ngIf="dataLoaded==true" class="card">
      <h3 class="card-title">{{ car.brandName  }}   {{ car.description }}</h3>
    <div align="center">
    <img src="../../../assets/CarsFotos/{{ car.brandName.toLowerCase()  }}{{car.description.toLowerCase()}}.jpg" class="card-img-top" alt="">
   </div>
    
  </div>
<div style=" float:right; margin-top: 15px ;">
  <table  *ngIf="dataLoaded==true" class="table table-dark table-hover " >
    <thead>
      <tr>
        <th>Marka </th>
        <th>Renk</th>
        <th>Model Yılı</th>
        <th>Günlük Fiyatı</th>
        <th>Model</th> 
    </thead>
    <tbody>
      <tr>
        <td>{{ car.brandName }}</td>
        <td>{{ car.colorName }}</td>
        <td>{{ car.modelYear }}</td>
        <td>{{ car.dailyPrice }} TL</td>
        <td>{{ car.description }}</td>
      </tr>
      <tr></tr>
    </tbody>
  </table> 
</div>
</div>
 
