<div class="ortalatmaDiv">
  <div
    *ngIf="dataLoaded == false"
    class="spinner-border text-primary"
    role="status"
  >
    <span class="visually-hidden">Loading...</span>
  </div>
  <br>
  <div align="center"><h3>KULLANICILAR</h3></div>
  <br>
  <table
    *ngIf="dataLoaded == true"
    class="table table-bordered table-dark border-primary table-sm"
  >
    <thead class="table-success">
      <tr>
        <th>Id</th>
        <th>Ad</th>
        <th>Soyad</th>
        <th>Email</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let user of users">
        <td>{{ user.id }}</td>
        <td>{{ user.firstName }}</td>
        <td>{{ user.lastName }}</td>
        <td>{{ user.email }}</td>
      </tr>
    </tbody>
  </table>
</div>
