<div  class="content">
    <div class="cardDiv">
        <div class="card">
            
            <div class="card-header"><h5 class="title">Araba ekle</h5></div>
            <div class="card-body" >
                <form [formGroup]="carAddForm" class="form">
                    <div class="mb-3">
                        <label for="brandName">Arabanın Markası</label>
                        <div class="form-group">
                            <input type="string" 
                            id="brandName" 
                            formControlName="brandName" class="form-control" 
                            placeholder="Araba Markası"/>
                        </div>
                    </div>
                    <div class="mb-3">
                        <label for="description">Arabanın Modeli</label>
                        <div class="form-group">
                            <input type="text" 
                            id="description" 
                            formControlName="description" class="form-control" 
                            placeholder="Arabanın Modeli"/>
                        </div>
                    </div>                       
                    <div class="mb-3">
                    <label for="dailyPrice">Günlük Fiyatı</label>
                    <div class="form-group">
                        <input type="number" 
                        id="dailyPrice" 
                        formControlName="dailyPrice" class="form-control" 
                        placeholder="Günlük Fiyatı"/>
                    </div>
                   </div>
                    <div  class="mb-3">
                        <label for="modelYear">Model Yılı</label>
                        <div class="form-group">
                            <input type="number" 
                            id="modelYear" 
                            formControlName="modelYear" class="form-control" 
                            placeholder="Model Yılı"/>
                        </div>
                    </div>       
                    <div  class="mb-3">
                        <label for="modelYear">Rengi</label>
                        <div class="form-group">
                            <input type="string" 
                            id="modelYear" 
                            formControlName="rengi" class="form-control" 
                            placeholder="Rengi"/>
                        </div>
                    </div>                
                </form>
            </div>
            <div class="card-footer">
                <button class="btn btn-fill btn-primary" (click)="add()">Arabayı Ekle</button>
            </div>
        </div>        
    </div>    
</div>